In [ ]:
import pandas as pd

df = pd.read_csv('../data/reviews_raw.csv')
df

                                               Review
0   Laptop tergolong ringan,tidak terlalu besar......
1   pengiriman cepat, spek barang sesuai, packing ...
2         manntab respon cepet barang ok dan original
3   Barang cepat sampai dan sesuai informasi, Admi...
4   Barang cepat sampai dan sesuai informasi, Admi...
..                                                ...
88  sangat baik dengan harga yg kompetitif dengan ...
89           Mantapu Jiwa Raga Indonesia Raya Merdeka
90  mantab bosku!! \nCepat sampai... produk origin...
91  barangnya sesuai tanpa lecet dan kurir tepat w...
92  Setelag dipakai kerja, kualitas dan performany...

[93 rows x 1 columns]